.u-center-text {
    text-align: center;
}

.u-padding-bottom-small {
    padding-bottom: 1.5rem;
}

.u-padding-bottom-medium {
    padding-bottom: 4rem;
}

.u-padding-bottom-big {
    padding-bottom: 8rem;
}

.u-margin-bottom-small {
    margin-bottom: 1.5rem;
}

.u-margin-bottom-medium {
    margin-bottom: 4rem;
}

.u-margin-bottom-big {
    margin-bottom: 8rem;
}
