.navigation {
    font-size: 1.5rem;
    @include linearGradient($color-secondary-light, $color-secondary-dark);
    padding: 0 10px;
    .nav-wrapper {
        a {
            font-size: 1.5rem;
        }
    }
}
