.landing-page {
    background-image: url("https://images.all-free-download.com/images/graphiclarge/baby_vector_275721.jpg");
    width: 100%;
    background-size: cover;
    padding-bottom: 57%;

    h1 {
        margin: 0;
        padding-top: 20px;
        color: navy;
    }
}
