* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "variables";
@import "mixins";
@import "base/utilities";
@import "header";
@import "landingPage";
@import "app";
@import "footer";
@import "layout";

@import "media-queries";
